@media only screen and (min-width: 1750px) {
  .NewItemForm {
    width: 38%;
  }
}

@media only screen and (max-width: 1750px) {
  .TodoContainer {
    width: 60%;
  }

  .NewItemForm {
    width: 56%;
  }
}

@media only screen and (max-width: 1000px) {
  .TodoContainer {
    width: 80%;
  }

  .NewItemForm {
    width: 76%;
  }
}

@media only screen and (max-width: 750px) {
  .TodoContainer {
    width: 90%;
  }

  .NewItemForm {
    width: 85%;
  }
}