.TodoItem {
  display: flex;
  margin-bottom: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.4rem #b3b3b3;
  width: 95%;
  border-radius: 0.5rem;
  background-color: #FEFDFF;
  font-size: 1.2rem;
}

.TodoItem .titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 2rem;
  background-color: #9ef28d;
}

.TodoItem .titleContainer.unfinished {
  background-color: #f28d8d;
}

.TodoItem .titleContainer p {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-left: .3rem;
  color: rgb(0, 0, 0);
  width: 70%;
}

.TodoItem .titleContainer .buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  width: 30%;
  float: right;
}

.TodoItem .titleContainer .buttonContainer button {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.deleteButton {
  background-color: #e74c4c;
}

.completeButton {
  background-color: #5ee74c;
}

.completeButton.hidden {
  visibility: hidden;
}