.TodoContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: none;
  background-color: #f0eef1;
}

@media only screen and (min-width: 1750px) {
  .TodoContainer {
    width: 40%;
  }
}

@media only screen and (max-width: 1750px) and (min-width: 1001px) {
  .TodoContainer {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 751px) {
  .TodoContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) and (min-width: 651px) {
  .TodoContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 650px) and (min-width: 451px) {
  .TodoContainer {
    width: 90%;
  }
}